<div class="container">
    <h3 class="text-center section-heading">My Education</h3>
        <div class="row">
            <div class="col-md-12">
                <!--Diploma-->
                <div class="info-content">
                    <small class="tenure">2008 - 2011</small>
                    <h3>Diploma</h3>
                    <h4>Arena Animation Academy Specialist Program (AAASP)</h4>

                    <p>South Extension - Arena</p>
                </div>
                <!--12th-->
                <div class="info-content">
                    <small class="tenure">2006 - 2008</small>
                    <h3>12th : UP Board <small>(67.6%)</small></h3>
                    <h4>Pass in 2008 with First Class</h4>

                    <p>S. R. K. Inter college Auraiya, UP</p>
                </div>
                <!--10th-->
                <div class="info-content">
                    <small class="tenure">2005 - 2006</small>
                    <h3>10th : UP Board <small>(69.8%)</small></h3>
                    <h4>Pass in 2006 with First Class</h4>

                    <p>S. R. K. Inter college Auraiya, UP</p>
                </div>
            </div>
        </div>
    </div>
    