<div class="container">
    <div class="profile-box">
        <div class="row">
            <div class="col-md-5">
                <div class="profile-pic box-shadow">
                    <!-- <img src="assets/images/profile.jpg" alt="" width="400px" height="500px"> -->
                    <img src="assets/images/profile_pic.jpg" alt="" width="400px" height="500px">
                </div>
            </div>
            <div class="col-md-7">
                <div class="basic-info">  
                    <h1 class="name"><span>I'm</span> Ausan Singh</h1>
                    <h4 class="position">Front End Developer</h4>
                    <p class="about-text">I am a UI/UX Developer located in chattarpur delhi. I have {{totalExp}} years of professional experience in designing and developing mid to large-scale websites on webstandard technologies like HTML, CSS, JavaScript ..  <a href="#skills">skills</a></p>
                </div>
                <div class="about-list">
                    <ul>
                        <li><strong>Age</strong> <span>{{ageToday}} Years</span></li>
                        <li><strong>Address</strong> <span>H. No. 1128, Chattarpur village, Delhi - 110074</span></li>
                        <li><strong>E-Mail</strong> <span>123ausan@gmail.com</span></li>
                        <li><strong>Phone</strong> <span>+91 9953 16 8293</span></li>
                        <li><strong>Follow me</strong> 
                            <span> 
                                <a href="https://www.facebook.com/Gautam91" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a>
                                <a href="https://plus.google.com/u/0/117606653733399723938" target="_blank" title="Google Plus"><i class="fa fa-google-plus"></i></a>
                                <a href="https://in.linkedin.com/in/ausansingh" target="_blank" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                                <a href="https://www.behance.net/AusanSingh" target="_blank" title="Behance"><i class="fa fa-behance"></i></a>
                                <a href="https://github.com/AusanSingh" target="_blank" title="GitHub"><i class="fa fa-github"></i></a>
                            </span>
                        </li>
                    </ul>
                </div>
                
                <div class="resume-download">
                    <a href="http://w3iscool.com/ausansingh/AusanSingh_Resume.pdf" target="_blank" class="btn btn-primary text-uppercase">
                        <i class="fa fa-download"></i><i class="fa fa-file-text-o"></i> Download my <b>resume</b> </a>
                </div>
            </div>
        </div>
    </div>
</div>
