<div class="container">
    <h3 class="text-center section-heading">My Experience</h3>
        <div class="row">
            <div class="col-md-12">
                <!--Value First-->
                <div class="info-content">
                    <small class="tenure">Dec 2016 - Present</small>
                    <h4>Sr. UI Developer</h4>
                    <h5><a href="http://vfirst.com/">ValueFirst Digital Media Private Limited Ltd</a> | Gurgaon  </h5>
                    <div>Technologies/Tools - HTML, CSS, JavaScript, JQuery, BootStrap, Angular 5+, HTML5, CSS3, Git</div>
                    <ul>
                        <li>UI Designing/Development on products  Surbo BOT, Surbo Chat, Augmento and HR Portal.</li>
                        <li>Consuming API with JQuery AJAX and Angular observable.</li>
                        <li>Working with Web Socket for real time chat on surbo and surbo chat.</li>
                        <li>Build reusable code and libraries for future use, Optimize application for maximum speed and scalability.</li>
                        <li>Create large form and convert data of form in custom JSON object and make AJAX call.</li>
                    </ul>
                </div>
                <!--AskmeBazaar-->
                <div class="info-content">
                    <small class="tenure">July 2015 - Oct 2016</small>
                    <h4>UI Developer</h4>
                    <h5><a href="http://www.askme.com">Getit Infoservices Ltd</a> | Gurgaon  </h5>
                    <ul>
                        <li>AskmeBazaar is an e-commerce company, AskmePay in wallet, AskmeFin.</li>
                        <li>UI Designing/​Development ​for Askme/AskmeBazaar/Askmepay and many more.</li>
                        <li>Writing html code in php template files for checkout, pdp, home, payment page.</li>
                        <li>Engaged with the business development team for ​responsive website and​ UI requirements.</li>
                        <li>Build reusable code and libraries for future use, Optimize application for maximum speed and scalability.</li>
                    </ul>
                </div>
                <!--Simpli5d-->
                <div class="info-content">
                    <small class="tenure">Sep 2012 - June 2015</small>
                    <h4>Flash / UI Designer, Sr. Flash Designer, Design Lead</h4>
                    <h5><a href="https://nlpcaptcha.in">Simpli5d Technologies</a> | Noida/Gurgaon  </h5>
                    <div>Technologies/Tools - Photoshop, Flash -AS3, Edge Animate, HTML, CSS, HTML5, CSS3, JavaScript, Jquery, VideoPad</div>
                    <ul>
                        <li>Get requirement from marketing team and do work accordingly on creatives captcha/Preroll, banners. </li>
                        <li>Interactive ads in HTML5, CSS3, Java Script(For compatible with Mobile devices). </li>
                        <li> Created one of the company’s product KomentBox Design/Development of UI. </li>
                        <li>Design and implemented dashboard, admin, user internal pages of website. </li>
                        <li>Led a team of 3 junior designers, improving output productivity. </li>
                    </ul>
                    Examples of work - <a href="https://nlpcaptcha.in/en/creative-gallery.html">Creatives/Banners</a>  | www.nlpcaptcha.in
                </div>
                <!--Veddis-->
                <div class="info-content">
                    <small class="tenure">Feb 2012 - Sep 2012</small>
                    <h4>3D Graphic Designer</h4>
                    <h5>Veddis Advisor | Cyber Park Gurgaon | www.veddis.com  </h5>
                    <div>Technologies/Tools - 3D Max, Photoshop, Favista 3D</div>
                    <small>Examples of work - youtube.com/avistarealestate/videos</small>
                </div>
                <!--OnGraph-->
                <div class="info-content">
                    <small class="tenure">Sep 2011 - Feb 2012</small>
                    <h4>Intern</h4>
                    <h5>Ongraph Technology Pvt. Ltd. | Noida | www.ongraph.com  </h5>
                    <div>Technologies/Tools - Photoshop, Flash-AS 3.0</div>
                </div>
            </div>
        </div>
    </div>