<div class="container">
    <h3 class="text-center section-heading">My Experience</h3>
        <div class="row">
            <div class="col-md-12">
                <!--AskmeBazaar-->
                <div class="info-content">
                    <small class="tenure">July 2015 - Present</small>
                    <h3>AskmeBazaar</h3>
                    <h4>Deputy Manager - UI </h4>
                    <ul>
                        <li>AskmeBazaar is an e-commerce company, AskmePay in wallet, AskmeFin.</li>
                        <li>UI Designing/​Development ​for Askme/AskmeBazaar/Askmepay and many more.</li>
                        <li>Writing html code in php template files for checkout, pdp, home, payment page.</li>
                        <li>Engaged with the business development team for ​responsive website and​ UI requirements.</li>
                        <li>Build reusable code and libraries for future use, Optimize application for maximum speed and scalability.</li>
                    </ul>
                </div>
                <!--Simpli5d-->
                <div class="info-content">
                    <small class="tenure">Sep 2012 - June 2015</small>
                    <h3>Simpli5d Technology</h3>
                    <h4>Flash / UI Designer, Design Lead</h4>

                    <ul>
                        <li>Get requirement from marketing team and do work accordingly on creatives captcha/Preroll, banners. </li>
                        <li>Interactive ads in HTML5, CSS3, Java Script(For compatible with Mobile devices). </li>
                        <li> Created one of the company’s product KomentBox Design/Development of UI. </li>
                        <li>Design and implemented dashboard, admin, user internal pages of website. </li>
                        <li>Led a team of 3 junior designers, improving output productivity. </li>
                    </ul>
                </div>
                <!--Veddis-->
                <div class="info-content">
                    <small class="tenure">Feb 2012 - Sep 2012</small>
                    <h3>Veddis Advisors</h3>
                    <h4>3D Graphic Designer</h4>

                    <!--<p>Auraiya, UP</p>-->
                </div>
                <!--OnGraph-->
                <div class="info-content">
                    <small class="tenure">Sep 2011 - Feb 2012</small>
                    <h3>OnGraph Technologies Private Limited</h3>
                    <h4>Intern</h4>

                    <!--<p>Auraiya, UP</p>-->
                </div>
            </div>
        </div>
    </div>