<app-header></app-header>

<main>
  <section id="about-me" class="section-p">
    <app-about></app-about>
  </section>
  <section id="skills" class="skill-section section-p">
      <app-skills></app-skills>
  </section>
  <section id="education" class="education-section section-p">
      <app-education></app-education>
  </section>
  <section id="experience" class="experience-section section-p">
      <app-experience></app-experience>
  </section>
  <section id="portfolio" class="portfolio-section section-p">
    <app-portfolio></app-portfolio>
  </section>

  <section class="footer-section section-p">
    <h5>©{{year}} <a href="w3iscool.com">w3iscool</a>. All Rights Reserved.</h5>
        <span> 
            <a href="https://www.facebook.com/Gautam91" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a>
            <a href="https://plus.google.com/u/0/117606653733399723938" target="_blank" title="Google Plus"><i class="fa fa-google-plus"></i></a>
            <a href="https://in.linkedin.com/in/ausansingh" target="_blank" title="Linkedin"><i class="fa fa-linkedin"></i></a>
            <a href="https://www.behance.net/AusanSingh" target="_blank" title="Behance"><i class="fa fa-behance"></i></a>
            <a href="https://github.com/AusanSingh" target="_blank" title="GitHub"><i class="fa fa-github"></i></a>
        </span>
</section>
</main>
